{% extends 'base.html' %}

{% block content %}
            <div class="inner cover" id="about">
                <h1 class="cover-heading">VUE Converter</h1>

                <p class="lead">This tool converts a <a href="http://vue.tufts.edu/" style="text-decoration: underline">VUE concept map</a> to HTML, Markdown, PDF and Libre-/OpenOffice ODT. Compared to the native export and print function of VUE it nicely outputs notes inside nodes and links.<br><a href="/" style="text-decoration:underline">Give it a try!</a></p>
                <p><img src="../static/img/map.png" alt="Example of a concept map"></p>
                <p class="lead">Want more features or found a bug? Post them on the <a href="https://github.com/xldrkp/vue2doc/issues" style="text-decoration: underline">Github Issue page.</a></p>
            </div>
            <div class="row">
              <div class="col-md-12">
                <a href="{{ url_for('index') }}" class="btn btn-default">Convert a map!</a>
              </div>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a
                            href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </div>

{% endblock %}
