{% extends 'base.html' %} {% block content %}

<div class="inner cover">
  {% for message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ message[0] }}" role="alert">{{ message[1] }}</div>
  {% endfor %}
  <!--<h1 class="cover-heading">That worked!</h1>-->

  <p class="lead">Please download the formats you need.</p>

  <div class="row">
    <div class="col-md-3"><a class="btn btn-default" href="{{ url_for('download_files', type='pdf', timestamp=timestamp) }}" role="button">PDF</a></div>
    <div class="col-md-3"><a class="btn btn-default" href="{{ url_for('download_files', type='markdown', timestamp=timestamp) }}" role="button">Markdown</a></div>
    <div class="col-md-3"><a class="btn btn-default" href="{{ url_for('download_files', type='html', timestamp=timestamp) }}" role="button">HTML</a></div>
    <div class="col-md-3"><a class="btn btn-default" href="{{ url_for('download_files', type='odt', timestamp=timestamp) }}" role="button">ODT</a></div>
  </div>

<div class="row" style="margin-top: 30px">
  <div class="col-md-12">
    <a href="{{ url_for('index', del=timestamp) }}" class="btn btn-default">Convert a New Map!</a>
  </div>
</div>
</div>

{% endblock %}
