{% extends 'base.html' %}

{% block content %}
            <div class="inner cover">
                <h1 class="cover-heading">Oops!!1!</h1>

                <p class="lead">There was an error converting your map. The monks who do the conversion in the background suggest that you try uploading a <b>VUE&nbsp;Package</b> with the extension  <b>*.vpk</b>.</p>
            </div>
<div class="row" style="margin-top: 30px">
  <div class="col-md-12">
    <a href="{{ url_for('index', del=timestamp) }}" class="btn btn-default">Try again!</a>
  </div>
</div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a
                            href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </div>

{% endblock %}
