{% extends 'base.html' %}

{% block content %}
            <div class="inner cover">
                <h1 class="cover-heading">Error!</h1>

                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam architecto aspernatur assumenda consequuntur dolores, et ex facere fugiat fugit laudantium molestiae odio ratione, repellat rerum similique vero voluptatem. Eveniet!</p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a
                            href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </div>

{% endblock %}
